/*MEDIA QUERYS*/
@media(max-width: 850px) {
    .grid-container {
        grid-template-columns: repeat(3, 1fr);


    }
}

@media (min-width: 992px) {
    .navbar .expand-lg .navbar-nav.dropdown-menu {
        position: static;

    }
}

@media (max-width: 680px) {
    .header {
        flex-direction: column;
    }

    .header img {
        width: 150px;
    }

    .footer ul {
        width: 182px;
    }

    .grid-container {
        grid-template-columns: repeat(3, 1fr);
    }
}